
  
{% extends 'base.html' %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Removes background image from base.html -->
    <div class="overlay"></div>
    
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Blog posts!</h1>
            </div>
        </div>
    </div>
    
    <div class="container pt-2">
        <div class="row">
            <div class="col-12">

                <div class="accordion" id="accordionBlog">

                    <!-- Iterate for each blog item here. -->
                    {% for bp in blogpost %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <a href="{% url 'blog_detail' bp.id %}">
                            <!-- Have blog title, author and created or last updated dates here. -->
                                <h2 class="mb-0">
                                    {{ bp.title }}  
                                </h2>
                                <h4>
                                    by  {{ bp.user|title }}  on  {{ bp.created }}
                                </h4>
                            </a>
                        </div>
                    </div>
                    <!-- Endfor loop -->
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>


{% endblock %}